.formulario h1 {
  color: black;
  font-size: 6rem;
}

.formulario {
  margin-top: 100px;
}

.inputs {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 100px;
}

.inputs label {
  font-size: 2rem;
}
